.env

letsencrypt/*
mongodb/*
postgresql/*
postgrest/*
redis/*
sead_query_api/*
sead_viewstate_server/*
sqs_nginx/*
traefik/*

ssl-keys/*
!ssl-keys/.gitkeep

mongodb/mounts
!mongodb/mounts/mongodb-data-volume/.gitkeep
!mongodb/mounts/logs/.gitkeep

nginx/mounts
!nginx/mounts/.gitkeep

postgrest.conf
