db-uri = "postgres://postgrest:POSTGREST_PASSWORD@localhost:5432/sead"
db-schema = "postgrest_api"
db-anon-role = "postgrest_anon"
#db-pool = "$(PGRST_DB_POOL)" 
#db-extra-search-path = "$(PGRST_DB_EXTRA_SEARCH_PATH)"
server-host = "*"
server-port = "3001"
#server-proxy-uri = "$(PGRST_SERVER_PROXY_URI)"
#jwt-secret = "$(PGRST_JWT_SECRET)"
#secret-is-base64 = "$(PGRST_SECRET_IS_BASE64)"
#jwt-aud = "$(PGRST_JWT_AUD)" 
#role-claim-key = "$(PGRST_ROLE_CLAIM_KEY)"
#max-rows = "$(PGRST_MAX_ROWS)"
#pre-request = "$(PGRST_PRE_REQUEST)"
